{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode zstd gzip
  reverse_proxy web-client:80
  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    -Server
  }
}
